.footer {
  margin: 1.25em auto 0.5em;
  font-size: 1.4rem;
  display: inline-block;
  padding: 0.3em 0.75em 0.5em;
  color: #2e8bcc;

  & a,
  & a:active,
  & a:visited {
    color: #2e8bcc;
    text-decoration: none;
    cursor: pointer;
  }

  & a:hover {
    text-decoration: underline;
  }
}

.madeBy {
  font-size: 1.1rem;
  margin-bottom: 1.25em;
  color: #444;
}
