.guide {
  font-size: 1.2rem;

  button {
    margin-top: 0.25em;
  }
}

.footer {
  margin: 1em auto 0.5em;
  font-size: 1.4rem;
  display: inline-block;
  color: #2e8bcc;

  & a,
  & a:active,
  & a:visited {
    color: #2e8bcc;
    text-decoration: none;
    cursor: pointer;
  }

  & a:hover {
    text-decoration: underline;
  }
}

.madeBy {
  font-size: 1.1rem;
  margin: 0.25em auto 1.25em;
  color: #444;
}
